.button-log-in {
    background-color: #6495e3;
}

.button-cancel {
    background-color: #e36479;
}

.btn{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 179px;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-container{
    display: flex;
    justify-content: space-around;
}